.mypage-content {
  background-color: #f6f9ff;
}

.mypage-box.background {
  height: calc(100vh - 56px);
}
.mypage-box .tool-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
.mypage-box .tool-box .sns-box img {
  margin-right: 3px;
}

.mypage-box .tool-box .btn-edit {
  height: 30px;
  padding: 0 10px;
  font-size: 10px;
  border: 1px solid #ebf0fb;
  border-radius: 4px;
}

.mypage-box .intro-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 20px 20px 20px;
  background-color: #fff;
}

.mypage-box .intro-box .name {
  margin-bottom: 10px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.mypage-box .intro-box .comment {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 18px;
}

.mypage-box .intro-box .thumb {
  position: relative;
  margin-left: 20px;
}

.mypage-box .intro-box .thumb > img {
  border-radius: 50%;
}

.mypage-box .profile-box {
  padding: 20px 40px;
  text-align: center;
  background-color: #fff;
}

.mypage-box .profile-box .name {
  font-weight: 700;
}
.mypage-box .profile-box .btn-edit {
  height: 30px;
  margin-top: 15px;
  padding: 0 10px;
  font-size: 10px;
  border: 1px solid #ebf0fb;
  border-radius: 4px;
}

.mypage-box .profile-box .thumb {
  position: relative;
}

.mypage-box .profile-box .thumb > img {
  border-radius: 50%;
  margin-bottom: 15px;
}
.mypage-box .profile-box .thumb .btn-camera {
  position: absolute;
  right: calc(50% - 60px);
  bottom: 20px;
  width: 40px;
}

.mypage-box .profile-box .thumb .btn-camera img {
  width: 100%;
}

.mypage-box .profile-box .thumb .mypage-box .tab-box {
  padding: 10px 5px 0 5px;
  border-bottom: 1px solid#EBF0FB;
  background-color: #fff;
}

.mypage-box .profile-box input {
  text-align: center;
}

.mypage-box .my-experience-box {
  background-color: #fff;
  padding: 20px;
}

.mypage-box .my-experience-box .title {
  margin-bottom: 10px;
  font-weight: 700;
}

.mypage-box .my-experience-box .ex-ing-box {
  display: flex;
  background-color: #222;
  padding: 20px 0;
  border-radius: 8px;
  text-align: center;
}

.mypage-box .my-experience-box .ex-ing-box > div {
  position: relative;
  width: 33.33%;
}

.mypage-box .my-experience-box .ex-ing-box > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 43px;
  width: 1px;
  background-color: #333;
}

.mypage-box .my-experience-box .ex-ing-box span {
  display: block;
  color: #aeb2b9;
  font-size: 12px;
}

.mypage-box .my-experience-box .ex-ing-box span.num {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.mypage-box .my-experience-box .ex-ing-box span.num.on {
  color: #ff43ca;
}

.mypage-box .my-experience-box ul {
  margin-top: 20px;
}

.mypage-box .my-experience-box li .product-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mypage-box .my-experience-box li img.thumb {
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.mypage-box .my-experience-box li p {
  color: #979797;
  font-weight: 700;
  font-size: 12px;
}
.mypage-box .my-experience-box li p + p {
  margin-top: 5px;
}

.mypage-box .my-experience-box li p.name {
  color: #222;
  font-size: 16px;
  margin-bottom: 10px;
}
.mypage-box .my-experience-box li p.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.mypage-box .my-experience-box li .btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
.mypage-box .my-experience-box li .btn-box button {
  width: calc(50% - 5px);
  height: 50px;
  border: 1px solid #d4d9dd;
  border-radius: 4px;
  font-weight: 700;
}
.mypage-box .my-experience-box li .btn-box button.wide {
  width: 100%;
}
.mypage-box .my-experience-box li .btn-box button.wide.active {
  color: #ff43ca;
  border-color: #ff43ca;
}
.mypage-box .my-experience-box li .btn-box .tool-tip-box {
  position: absolute;
  top: 35px;
  right: -10px;
  background-color: #ff43ca;
  height: 32px;
  padding: 0 14px;
  border-radius: 18px;
  line-height: 32px;
}
.mypage-box .my-experience-box li .btn-box .tool-tip-box div {
  position: relative;
  color: #fff;
}
.mypage-box .my-experience-box li .btn-box .tool-tip-box div::after {
  content: "";
  display: block;
  position: absolute;
  right: 14px;
  top: 32px;
  width: 11px;
  height: 10px;
  background: url(../asset/images/img-bubble-triangle.png) no-repeat;
}

.mypage-box .my-experience-box li .date-box {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

.mypage-box .my-experience-box li .date-box span {
  font-size: 12px;
  color: #ff43ca;
}
.mypage-box .my-experience-box li .date-box i {
  display: inline-block;
  padding: 0 5px;
  font-size: 11px;
  color: #eee;
}

.mypage-box .my-experience-box li + li {
  margin-top: 30px;
}

.mypage-box .my-experience-box li.disabled p {
  color: #b8bbbf;
}

.mypage-box .tab-box {
  background-color: #fff;
}

.mypage-box .tab-box button {
  width: 50%;
  height: 44px;
  color: #aeb2b9;
  font-weight: 700;
}

.mypage-box .tab-box button.on {
  color: #2a3548;
  border-bottom: 2px solid #2a3548;
}

.mypage-box .no-list {
  padding: 100px 0;
  text-align: center;
  color: #aeb2b9;
  font-weight: 700;
}

.mypage-box .self-box {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ebf0fb;
  margin-bottom: 10px;
}

.mypage-box .self-box p {
  margin-bottom: 10px;
  font-weight: 700;
}

.mypage-box .detail-add-box {
  background-color: #fff;
}

.mypage-box .detail-add-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 40px;
  border-bottom: 1px solid #ebf0fb;
  background: url(/asset/images/icon-more.png) no-repeat calc(100% - 25px)
    center / 6px 12px;
}

.mypage-box .detail-add-box li .title {
  font-weight: 700;
}

.mypage-box .my-experience-form {
  padding-bottom: 60px;
}

.mypage-box .my-experience-form .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fff;
}

.mypage-box .my-experience-form .info-box img {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-right: 15px;
}
.mypage-box .my-experience-form .info-box .name {
  color: #979797;
  font-size: 12px;
  font-weight: 700;
}
.mypage-box .my-experience-form .info-box .title {
  padding: 6px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.mypage-box .my-experience-form .info-box .date {
  font-size: 12px;
}
.mypage-box .my-experience-form .form-box {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}

.mypage-box .my-experience-form .form-item {
  position: relative;
}

.mypage-box .my-experience-form .form-item + .form-item {
  margin-top: 30px;
}
.mypage-box .my-experience-form .form-box .form-item-title {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
.mypage-box .my-experience-form .form-box .form-item-title strong {
  color: #ff43ca;
}
.mypage-box .my-experience-form .form-box .form-item-title i {
  font-weight: 400;
  color: #aeb2b9;
}
.mypage-box .my-experience-form .form-box .form-item-title-sub {
  display: block;
  padding-bottom: 10px;
  font-size: 12px;
  color: #aeb2b9;
  line-height: 24px;
}
.mypage-box .my-experience-form .form-box pre {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
}

.mypage-box .my-experience-form .form-box .btn-copy {
  position: absolute;
  top: -12px;
  right: 0;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  font-size: 10px;
}

.mypage-box .my-experience-form .form-box textarea {
  height: 80px;
}
.mypage-box .my-experience-form .form-box textarea:disabled {
  background: #f6f9ff;
}

.mypage-box .my-experience-form .input-box {
  position: relative;
}

.mypage-box .my-experience-form .input-box + .input-box {
  margin-top: 10px;
}

.mypage-box .my-experience-form .input-box button {
  position: absolute;
  top: 13px;
  right: 10px;
}

.mypage-page-wrap .floating-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
}
.mypage-page-wrap .floating-footer button {
  height: 60px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #2a3548;
}
.mypage-page-wrap .floating-footer button.active {
  background-color: #ff43ca;
}

.mypage-page-wrap .floating-footer button:disabled {
  background-color: #ebf0fb;
}

.mypage-page-wrap .mypage-popup {
  padding: 20px;
  padding-bottom: 100px;
  background-color: #fff;
  max-height: 500px;
  overflow-y: auto;
}

.mypage-popup .form-box + .form-box {
  margin-top: 20px;
}

.mypage-popup .form-box .form-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.mypage-popup .form-box .form-title span {
  color: #f00;
}
.mypage-popup .form-box .form-title span.noti {
  color: #979797;
  font-weight: normal;
}

.mypage-popup .form-box .form-item.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.mypage-popup .form-box .form-item.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.mypage-popup .form-box .form-item button {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #d4d9dd;
  font-weight: 700;
}

.mypage-popup .form-box .form-item button.on {
  color: #ff43ca;
  border-color: #ff43ca;
}
.mypage-popup .form-box .form-item .checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.mypage-popup .form-box .form-item .checkbox p {
  padding-left: 10px;
}

.setting-box {
  background-color: #fff;
}
.setting-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  border-bottom: 1px solid #ebf0fb;
  background: url(/asset/images/icon-more.png) no-repeat calc(100% - 25px)
    center / 6px 12px;
}

.setting-box .toggle {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 31px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.setting-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 31px;
}

.setting-box .slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3ss;
  border-radius: 50%;
}

.setting-box input:checked + .slider {
  background-color: #ff43ca;
}

.setting-box input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.setting-box .btn-withdraw {
  width: 100%;
  margin-top: 30px;
  color: #aeb2b9;
  text-decoration: underline;
}

.withdraw-box {
  background-color: #fff;
  padding: 20px;
}

.withdraw-box .form-box + .form-box {
  margin-top: 20px;
}

.withdraw-box .form-box .form-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.withdraw-box .form-item.option-box {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #d4d9dd;
  border-radius: 4px;
  background: #fff url(../asset/images/icon-dropdown.png) no-repeat
    calc(100% - 21px) center / 12px 6px;
}

.mypage-page-wrap .withdraw-popup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  border-bottom: 1px solid #ebf0fb;
  background-color: #fff;
}

.mypage-content .join-completed-box {
  padding-top: 80px;
  text-align: center;
  background-color: #fff;
}

.mypage-content .join-completed-box img {
  max-width: 335px;
}
.mypage-content .join-completed-box p {
  padding: 30px 0;
  font-size: 24px;
  font-weight: 700;
}

.mypage-content .tracking-box {
  padding: 20px;
  background-color: #fff;
}

.mypage-content .tracking-box dl + dl {
  margin-top: 20px;
}

.mypage-content .tracking-box dt {
  color: #68696b;
  margin-bottom: 8px;
}
.mypage-content .tracking-box dd {
  position: relative;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.mypage-content .tracking-box dd button {
  position: absolute;
  right: 0;
  top: -34px;
  background-color: #222;
  color: #fff;
  font-size: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 4px;
}

.mypage-content .tracking-box p {
  padding: 20px 0;
  color: #68696b;
  line-height: 20px;
}
.mypage-content .tracking-box .btn-tracking {
  width: 100%;
  height: 50px;
  background-color: #ff43ca;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}

.mypage-content .no-traking-box {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}
.mypage-content .no-traking-box div {
  padding: 20px;
}

.mypage-content .no-traking-box div img {
  width: 100px;
  padding-bottom: 20px;
}
.mypage-content .no-traking-box .title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.mypage-content .no-traking-box .desc {
  color: #68696b;
  line-height: 20px;
}
